@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css?family=Baloo+Thambi');



.text-container > span {
  font-weight: bolder;
  font-size: 55px ;
  color: #FFF;
  animation: glow 2s ease-in-out infinite;
}

.event-container > span {
  font-weight: 400;
  font-size: 25px ;
  animation: glow 2s ease-in-out infinite;
  color: #07fbff;
}

#mask {
    filter: drop-shadow(0 0 0.75rem rgb(255, 217, 0));
  &:hover {
    filter: drop-shadow(0 0 1.24rem  #fff700);
  }
}

@keyframes glow {
  0%, 100% {

    text-shadow: 0 0 10px #0652DD, 0 0 50px #0652DD, 0 0 100px #0652DD;
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  margin: 2px !important;
  padding: 0;
  background-color: black;
  font-family: "Montserrat", sans-serif;
}

 ::-webkit-scrollbar {
  width: 4px;
  height: 80px;
}

 ::-webkit-scrollbar-track {
  background: #222a35;
}

 ::-webkit-scrollbar-thumb {
  background: #575c66;
  border-radius: 6px;
}

 ::-webkit-scrollbar-thumb:hover {
  background: #626970;
}

::-webkit-backdrop-filter {
  blur: 3px saturate(106%);
}
 